@use "@/styles/vars";

.article {
  @include vars.grid-system;
  .type {
    @include vars.eyebrow;
  }
  h1 {
    @include vars.headline;
    margin-block-start: 40px;
  }
  h2 {
    @include vars.subtitle;
    margin-block-start: 20px;
  }
  .authors {
    @include vars.wrap(8);
    text-align: center;
    margin-block-start: 40px;
    .author {
      margin-block-start: 20px;
      &:first-child {
        margin-block-start: 0;
      }
      address {
        @include vars.author;
      }
      p {
        @include vars.bio;
        margin-block-start: 5px;
      }
    }
  }
  img {
    @include vars.wrap(5);
    inline-size: 100%;
    block-size: auto;
    margin-block-start: 80px;
  }
  .coverCredits {
    @include vars.cover-credits;
    margin-block-start: 40px;
  }
  .body {
    @include vars.body;
    margin-block-start: 80px;
    [data-footnotes] {
      margin-block-start: 80px;
      padding-block-start: 80px;
      @include vars.footnotes;
      border-block-start: 1px solid vars.$gray700;
    }
  }
}
