@use "@/styles/vars";

.copyBox {
  font-family: vars.$sans;
  font-weight: 300;
  font-size: 14px;
  background: white;
  position: relative;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      padding-left: 10px;
      font-weight: 400;
      font-size: 14px;
    }
    button {
      border: none;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background: black;
      fill: white;
    }
  }
  p {
    padding: 10px;
    margin-block-start: 0;
  }
}

.copiedMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  opacity: 0.9;
}
