@use "@/styles/vars";

.footer {
  @include vars.grid-system;
  @include vars.font-tiny;
  background: vars.$gray800;
  color: white;
  text-align: center;
  margin-block-start: 160px;
  .content {
    @include vars.wrap(7);
    padding-block: 120px 80px;
    svg {
      fill: white;
    }
    .data {
      margin-block-start: 80px;
      a {
        color: inherit;
      }
    }
    .copy {
      margin-block-start: 40px;
    }
  }
}
