@use "vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

p {
  margin-block-start: 30px;
  &:first-child {
    margin-block-start: 0;
  }
}

h1,
h2,
h3 {
  color: black;
  font-weight: 400;
  margin: 0;
}
