@use "@/styles/vars";

.hero {
  @include vars.grid-system;
  .issn {
    @include vars.eyebrow;
  }
  h1 {
    @include vars.headline;
    margin-block-start: 40px;
  }
}

.lastIssue {
  @include vars.grid-system;
  margin-block-start: 160px;
  h2 {
    @include vars.eyebrow;
  }
  .cover {
    @include vars.wrap(0);
    margin-block-start: 80px;
    display: inline-flex;
    justify-content: center;
    img {
      inline-size: calc(100% - 40px);
      block-size: auto;
    }
  }
  .date {
    @include vars.eyebrow;
    margin-block-start: 40px;
  }
  .title {
    @include vars.card-title-big;
    text-decoration: none;
    margin-block-start: 20px;
  }
  .abstract {
    @include vars.abstract;
    margin-block-start: 20px;
  }
}

.previousIssues {
  @include vars.grid-system;
  margin-block-start: 160px;
  h2 {
    @include vars.eyebrow;
  }
  .grid {
    @include vars.wrap(2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-block-start: 80px;
    .card {
      color: inherit;
      text-decoration: none;
      img {
        width: 100%;
        height: auto;
        border-radius: 15px;
      }
      .date {
        @include vars.eyebrow;
        text-align: start;
        margin-block-start: 10px;
      }
      h3 {
        @include vars.card-title-small;
        margin-block-start: 5px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .lastIssue {
    .cover {
      img {
        height: 50vh;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 900px) {
  .hero {
    h1 {
      margin-block-start: 20px;
    }
  }
  .lastIssue {
    margin-block-start: 100px;
    .cover {
      margin-block-start: 40px;
    }
  }
  .previousIssues {
    margin-block-start: 100px;
    .grid {
      margin-block-start: 40px;
      @include vars.wrap(1);
      grid-template-columns: 1fr;
    }
  }
}
