@use "@/styles/vars";

.hero {
  @include vars.grid-system;
  .date {
    @include vars.eyebrow;
  }
  h1 {
    @include vars.headline;
    margin-block-start: 40px;
  }
  .abstract {
    @include vars.abstract;
    margin-block-start: 20px;
  }
  .cover {
    @include vars.wrap(0);
    inline-size: calc(100% - 40px);
    block-size: auto;
    margin-inline: auto;
    margin-block-start: 80px;
    border-radius: 8px;
  }

  display: none;
}

.introduction {
  @include vars.grid-system;
  margin-block-start: 160px;
  h2 {
    @include vars.eyebrow;
  }
  .body {
    @include vars.body;
    margin-block-start: 80px;
  }
  display: none;
}

.contents {
  @include vars.grid-system;
  margin-block-start: 160px;
  h2 {
    @include vars.eyebrow;
  }
  .index {
    @include vars.wrap(5);
    margin-block-start: 80px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    align-items: baseline;
    color: vars.$gray700;
    @include vars.font-index;
    .section {
      grid-column: 1 / 5;
      justify-self: end;
      padding-block: 10px;
      padding-inline-end: 5px;
      text-transform: uppercase;
      @include vars.line-end;
    }
    .article {
      grid-column: 5 / -1;
      text-decoration: none;
      color: inherit;
      padding-block: 10px;
      border-block-end: 1px solid vars.$gray300;
      &:hover {
        color: black;
        border-color: black;
      }
      span {
        @include vars.font-index-title;
        color: black;
      }
    }
  }
}

@media (max-width: 1200px) {
  .contents {
    .index {
      @include vars.wrap(3);
      grid-template-columns: repeat(20, 1fr);
      .section {
        grid-column: 1 / 6;
        @include vars.line-start;
        margin-inline-start: 0;
        &:after {
          content: none;
        }
      }
      .article {
        grid-column: 6 / -1;
      }
    }
  }
}

@media (max-width: 900px) {
  .contents {
    .index {
      @include vars.wrap(2);
      grid-template-columns: 1fr;
      .section {
        grid-column: 1;
        justify-self: start;
      }
      .article {
        grid-column: 1;
        border: none;
      }
    }
  }
}
