@use "@/styles/vars";

.hero {
  @include vars.grid-system;
  .date {
    @include vars.eyebrow;
  }
  h1 {
    @include vars.headline;
    margin-block-start: 40px;
  }
  .abstract {
    @include vars.abstract;
    margin-block-start: 20px;
  }
  .cover {
    @include vars.wrap(0);
    inline-size: calc(100% - 40px);
    block-size: auto;
    margin-inline: auto;
    margin-block-start: 80px;
  }
  .coverCredits {
    @include vars.wrap(7);
    @include vars.font-cover-credits;
    color: vars.$gray700;
    margin-block-start: 40px;
    a {
      color: black;
      text-decoration: none;
    }
    position: relative;
    &::before {
      content: "";
      display: block;
      background: vars.$gray700;
      block-size: 1px;
      inline-size: 40px;
      position: absolute;
      left: -45px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    @media (max-width: 1200px) {
      @include vars.wrap(5);
    }
    @media (max-width: 900px) {
      @include vars.wrap(3);
    }
    @media (max-width: 600px) {
      @include vars.wrap(2);
      margin-inline-start: 45px;
    }
  }
}

.contents {
  @include vars.grid-system;
  margin-block-start: 160px;
  h2 {
    @include vars.eyebrow;
  }
  .index {
    @include vars.wrap(5);
    margin-block-start: 80px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    align-items: baseline;
    color: vars.$gray700;
    @include vars.font-index;
    .section {
      grid-column: 1 / 5;
      justify-self: end;
      padding-block: 10px;
      padding-inline-end: 5px;
      text-transform: uppercase;
      @include vars.line-end;
    }
    .article {
      grid-column: 5 / -1;
      text-decoration: none;
      color: inherit;
      padding-block: 10px;
      border-block-end: 1px solid vars.$gray300;
      &:hover {
        color: black;
        border-color: black;
      }
      span {
        @include vars.font-index-title;
        color: black;
      }
    }
  }
}

.introduction {
  @include vars.grid-system;
  margin-block-start: 160px;
  h2 {
    @include vars.eyebrow;
  }
  .body {
    @include vars.body;
    margin-block-start: 80px;
  }
}

@media (max-width: 1200px) {
  .hero {
    .cover {
      height: 50vh;
      object-fit: cover;
    }
  }
  .contents {
    .index {
      @include vars.wrap(3);
      grid-template-columns: repeat(1, 1fr);
      .section {
        grid-column: 1;
        justify-self: start;
        @include vars.line-start;
        margin-inline-start: 0;
        margin-block-start: 30px;
        &:after {
          content: none;
        }
        &:first-child {
          margin-block-start: 0;
        }
      }
      .article {
        grid-column: 1;
      }
    }
  }
}

@media (max-width: 900px) {
  .hero {
    h1 {
      margin-block-start: 20px;
    }
    .cover {
      margin-block-start: 40px;
    }
    .coverCredits {
      margin-block-start: 20px;
    }
  }
  .contents {
    margin-block-start: 100px;
    .index {
      margin-block-start: 40px;
    }
  }
  .introduction {
    margin-block-start: 100px;
    .body {
      margin-block-start: 40px;
    }
  }
}
