// FONTS
$sans: var(--sans);
$serif: var(--serif);

// COLORS
$gray300: #d8e2ed;
$gray400: #b5bfca;
$gray500: #97a0ab;
$gray600: #6e7781;
$gray800: #5a636d;
$gray700: #3b444d;
$gray900: #1a232b;

// DIMENSIONS
$page-width: 1440px;
$columns: 26;

// MIXINS
@mixin grid-system {
  display: grid;
  grid-template-columns: 1fr repeat($columns, minmax(0, $page-width/$columns)) 1fr;
}
@mixin wrap($column) {
  @if ($column == "full") {
    grid-column: 1 / -1;
  } @else {
    grid-column: #{$column + 2} / -#{$column + 2};
  }
}
@mixin line($width: 40px) {
  display: block;
  background: $gray700;
  block-size: 1px;
  inline-size: $width;
}
@mixin line-inline($width: 40px) {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
  &::before,
  &::after {
    content: "";
    @include line($width);
  }
}
@mixin line-start($width: 40px) {
  display: flex;
  align-items: center;
  gap: 5px;
  &::before {
    content: "";
    @include line($width);
  }
  margin-inline-start: -$width - 5px;
}
@mixin line-end($width: 40px) {
  display: flex;
  align-items: center;
  gap: 5px;
  &::after {
    content: "";
    @include line($width);
  }
  margin-inline-start: -$width - 5px;
}

// FONT
@mixin font-eyebrow {
  font-family: $sans;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.4;
  @media (max-width: 900px) {
    font-size: 12px;
    letter-spacing: 0;
  }
}
@mixin font-intro {
  font-family: $serif;
  font-size: 18px;
  line-height: 1.4;
  @media (max-width: 900px) {
    font-size: 16px;
  }
}
@mixin font-headline {
  font-family: $serif;
  font-variant-numeric: lining-nums;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -1px;
  font-weight: 400;
  @media (max-width: 900px) {
    font-size: 32px;
  }
}
@mixin font-subtitle {
  font-family: $sans;
  font-size: 14px;
  font-weight: 400;
}
@mixin font-author {
  font-family: $sans;
  font-size: 16px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 500;
  @media (max-width: 900px) {
    font-size: 14px;
  }
}
@mixin font-bio {
  font-family: $sans;
  font-size: 14px;
  font-weight: 400;
  @media (max-width: 900px) {
    font-size: 13px;
  }
}
@mixin font-cover-credits {
  font-family: $sans;
  font-size: 14px;
  font-weight: 400;
  @media (max-width: 900px) {
    font-size: 12px;
  }
}
@mixin font-body {
  font-family: $sans;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 300;
  @media (max-width: 900px) {
    font-size: 16px;
    line-height: 1.4;
  }
}
@mixin font-footnotes {
  font-family: $sans;
  font-size: 14px;
  font-weight: 400;
}
@mixin font-abstract {
  font-family: $sans;
  font-size: 16px;
  line-height: 1.4;
  @media (max-width: 900px) {
    font-size: 14px;
  }
}
@mixin font-index {
  font-family: $sans;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.4;
}
@mixin font-index-title {
  font-family: $serif;
  font-size: 16px;
  text-transform: none;
}
// ------------------

@mixin font-tiny {
  font-family: $sans;
  font-size: 12px;
}

// TEXT
@mixin eyebrow {
  @include wrap(9);
  @include font-eyebrow;
  text-align: center;
  color: $gray700;
  @media (max-width: 1200px) {
    @include wrap(7);
  }
}
@mixin intro {
  @include wrap(7);
  @include font-intro;
  text-align: center;
  color: black;
  @media (max-width: 900px) {
    @include wrap(2);
  }
}
@mixin headline {
  @include wrap(3);
  @include font-headline;
  text-align: center;
  color: black;
  text-wrap: balance;
  @media (max-width: 900px) {
    @include wrap(2);
  }
}
@mixin subtitle {
  @include wrap(7);
  @include font-subtitle;
  color: $gray700;
  @include line-inline(40px);
  text-wrap: balance;
  @media (max-width: 1200px) {
    @include wrap(5);
  }
  @media (max-width: 900px) {
    @include wrap(3);
  }
}
@mixin author {
  @include font-author;
  color: black;
}
@mixin bio {
  @include font-bio;
  color: $gray700;
}
@mixin cover-credits {
  @include wrap(7);
  @include font-cover-credits;
  color: $gray700;
  @include line-start(40px);
  @media (max-width: 1200px) {
    @include wrap(5);
  }
  @media (max-width: 900px) {
    @include wrap(3);
  }
  @media (max-width: 600px) {
    @include wrap(2);
    margin-inline-start: 0;
  }
}
@mixin body {
  @include wrap(7);
  @include font-body;
  color: $gray700;
  strong,
  em,
  a {
    color: black;
  }
  strong,
  a {
    font-weight: 400;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $serif;
    font-size: 32px;
    line-height: 1.2;
    margin-block-start: 50px;
    &:first-child {
      margin-block-start: 0;
    }
    @media (max-width: 900px) {
      font-size: 24px;
    }
  }
  img {
    inline-size: 100%;
    & + em {
      @include font-cover-credits;
      color: $gray700;
      font-style: normal;
    }
  }
  li {
    margin-block-start: 30px;
  }
  @media (max-width: 1200px) {
    @include wrap(5);
  }
  @media (max-width: 900px) {
    @include wrap(3);
  }
  @media (max-width: 600px) {
    @include wrap(2);
  }
}
@mixin footnotes {
  @include font-footnotes;
  h2 {
    display: none;
  }
  a {
    font-weight: 400;
  }
  ol {
    padding-inline-start: 16px;
    & > li {
      margin-block-start: 10px;
      &:first-child {
        margin-block-start: 0;
      }
    }
  }
}
@mixin abstract {
  @include wrap(5);
  @include font-abstract;
  text-align: center;
  color: $gray700;
  @media (max-width: 900px) {
    @include wrap(3);
  }
  @media (max-width: 600px) {
    @include wrap(1);
  }
}
@mixin card-title-big {
  @include wrap(3);
  @include font-headline;
  text-align: center;
  color: black;
  text-wrap: balance;
  font-size: 32px;
  @media (max-width: 900px) {
    font-size: 24px;
  }
}
@mixin card-title-small {
  @include font-headline;
  color: black;
  text-wrap: balance;
  font-size: 24px;
  @media (max-width: 900px) {
    font-size: 20px;
  }
}
